.dark-theme {
  background-color: #111;
  color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.light-theme {
  text-align: center;
  background-color: #f9f9f9;
  color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.headerrrr {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.btn-light{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
  transition: all 0.3s ease;   
}
.btn-dark{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
  transition: all 0.3s ease;   
}
.btn-dark,.btn-light {
  cursor: pointer;
}
.btn-light:hover {
  background-color: #e0e0e0;
  border: 1px solid #45a049;
  padding: 4.5px 10px;
}
.btn-dark:hover {
  background-color: #45a049;
}